@import "ustyle/basics/variables/_colors";

.activity__indicator
{
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2em;

  .calendar__cell--inverted &
  {
    position: absolute;
    margin-top: 0em;
    margin-left: 0.8em;
    
    background-color: $c-green;
    border-radius: 50%;
    width: 22px;
    height: 22px;

    text-align: center;
  }
  
}
