.title__huerotate
{
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--animate
  {
    -webkit-animation: hue 60s infinite linear;
  }
  
  h1 &
  {
    font-weight: 100;
    font-size: 6em;
  }
}

@keyframes hue
{
  0% { -webkit-filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(-360deg); }
}
