.home
{
  &__container
  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }


  &__title
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title > .title__huerotate
  {
    border-bottom: 3px solid #f4f5f6;
  }

  &__calendar
  {
    display: flex;
    justify-content: center;
  }
  
}
