.home__container
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.home__title
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title > .title__huerotate
{
  border-bottom: 3px solid #f4f5f6;
}
